<%= render "layouts/header" %>
<div id="main">
  <div class="container feed-page">
    <div class="row">
      <div class="col-sm-9">
        <div class="feed-page_header">
          <h2>プログラミング知識を共有しよう。</h2>
          <a class="btn btn-primary" track="click" data-label="HomeIndexToItemsNews" href="/drafts/new">ノウハウ・TIpsを投稿する</a>
        </div>
        <div class="stream-container">
          <nav>
            <ul class="nav nav-tabs stream-container_tabs">
              <li class="following-tab" data-type="following">
                <a href="/">フィード</a>
              </li>
              <li class="public-tab active" data-type="public">
                <a href="/items">すべての投稿</a>
              </li>
              <li class="mine-tab pull-right" data-type="mine">
                <a href="/mine">
                  自分の投稿
                  <span class="label label-info">0</span>
                </a>
              </li>
              <li class="stock-tab pull-right" data-type="stock">
                <a href="/stock">ストック</a>
              </li>
              <!-- 選んでるタブにactiveクラスを付ける -->
            </ul>
          </nav>
          <div class="stream-container_streams feed-activities">
            <%= render "layouts/public_stream" %>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="kobito-ad">
          <div class="wrapper">
            <h3>
              <a target="_blank" href="#">プログラマのメモ用途に特化したMacアプリ「Kobito」</a>
            </h3>
            <p class="text-right">
              <small>Powered by Qiita</small>
            </p>
            <ul class="list-unstyled">
              <li>Markdownとリアルタイムプレビューで快適に入力</li>
              <li>シンタックスハイライトでコードをきれいに記録</li>
              <li>ボタンひとつで簡単web公開</li>
            </ul>
            <a target="_blank" href="#">詳細を見る</a>
          </div>
        </div>
        <div class="user-info">
          <div class="user-info_left">
            <%= link_to user_path(current_user) do %>
              <%= image_tag current_user.avatar, class: "user-info_avatar" %>
            <% end %>
          </div>
          <div class="user-info_right">
            <div class="user-info_names">
              <div class="user-info_url-name">
                <a href="#">テスト</a>
              </div>
            </div>
            <div class="user-info_stats">
              <div class="user-info_posts-count">
                0
                <span class="user-info_stats_unit">投稿</span>
              </div>
              <div class="user-info_contribution">
                <span class="user-info_contribution_value">0</span>
                <span class="user-info_stats_unit">Contribution</span>
              </div>
            </div>
          </div>
        </div>
        <nav class="category-navigation_menu">
          <a class="category-navigation_menu-item category-navigation_menu-item-selected" href="/">
            <i class="fa fa-fw fa-list-ul"></i>
            フィード
          </a>
          <a class="category-navigation_menu-item" href="/organizations">
            <i class="fa fa-fw fa-building-o"></i>
            Organization一覧
          </a>
          <a class="category-navigation_menu-item" href="/popular-items">
            <i class="fa fa-fw fa-line-chart"></i>
            人気の投稿
            <span class="label label-info">beta</span>
          </a>
          <a class="category-navigation_menu-item" href="/advent-calendar/2016">
            <i class="fa fa-fw fa-calendar"></i>
            Advent Calendar
          </a>
        </nav>
        <div class="new-user-page-profile_info">
          <div class="new-user-page-profile_info_heading">
            <i class="fa fa-fw fa-user-plus"></i>
            知り合いかも
          </div>
          <div class="new-user-page-profile_info_body">
            <ul class="list-inline new-user-page-profile_followees">
              <li>
                <div class="js-hovercard" data-hovercard-target-name="テスト">
                  <a href="#">
                    <%= image_tag("user-avatar.png", class: "new-user-page-profile_followees_icon", size: "20x20", alt: "テスト") %>
                  </a>
                </div>
              </li>
              <li>
                <div class="js-hovercard" data-hovercard-target-name="テスト">
                  <a href="#">
                    <img alt="テスト" class="new-user-page-profile_followees_icon" src="#" width="20" height="20">
                  </a>
                </div>
              </li>
              <li>
                <div class="js-hovercard" data-hovercard-target-name="テスト">
                  <a href="#">
                    <img alt="テスト" class="new-user-page-profile_followees_icon" src="#" width="20" height="20">
                  </a>
                </div>
              </li>
              <li>
                <div class="js-hovercard" data-hovercard-target-name="テスト">
                  <a href="#">
                    <img alt="テスト" class="new-user-page-profile_followees_icon" src="#" width="20" height="20">
                  </a>
                </div>
              </li>
              <li>
                <div class="js-hovercard" data-hovercard-target-name="テスト">
                  <a href="#">
                    <img alt="テスト" class="new-user-page-profile_followees_icon" src="#" width="20" height="20">
                  </a>
                </div>
              </li>
              <li>
                <div class="js-hovercard" data-hovercard-target-name="テスト">
                  <a href="#">
                    <img alt="テスト" class="new-user-page-profile_followees_icon" src="#" width="20" height="20">
                  </a>
                </div>
              </li>
              <li>
                <div class="js-hovercard" data-hovercard-target-name="テスト">
                  <a href="#">
                    <img alt="テスト" class="new-user-page-profile_followees_icon" src="#" width="20" height="20">
                  </a>
                </div>
              </li>
              <li>
                <div class="js-hovercard" data-hovercard-target-name="テスト">
                  <a href="#">
                    <img alt="テスト" class="new-user-page-profile_followees_icon" src="#" width="20" height="20">
                  </a>
                </div>
              </li>
              <li>
                <div class="js-hovercard" data-hovercard-target-name="テスト">
                  <a href="#">
                    <img alt="テスト" class="new-user-page-profile_followees_icon" src="#" width="20" height="20">
                  </a>
                </div>
              </li>
              <li>
                <div class="js-hovercard" data-hovercard-target-name="テスト">
                  <a href="#">
                    <img alt="テスト" class="new-user-page-profile_followees_icon" src="#" width="20" height="20">
                  </a>
                </div>
              </li>
              <li>
                <div class="js-hovercard" data-hovercard-target-name="テスト">
                  <a href="#">
                    <img alt="テスト" class="new-user-page-profile_followees_icon" src="#" width="20" height="20">
                  </a>
                </div>
              </li>
              <li>
                <div class="js-hovercard" data-hovercard-target-name="テスト">
                  <a href="#">
                    <img alt="テスト" class="new-user-page-profile_followees_icon" src="#" width="20" height="20">
                  </a>
                </div>
              </li>
              <li>
                <div class="js-hovercard" data-hovercard-target-name="テスト">
                  <a href="#">
                    <img alt="テスト" class="new-user-page-profile_followees_icon" src="#" width="20" height="20">
                  </a>
                </div>
              </li>
              <li>
                <div class="js-hovercard" data-hovercard-target-name="テスト">
                  <a href="#">
                    <img alt="テスト" class="new-user-page-profile_followees_icon" src="#" width="20" height="20">
                  </a>
                </div>
              </li>
              <li>
                <div class="js-hovercard" data-hovercard-target-name="テスト">
                  <a href="#">
                    <img alt="テスト" class="new-user-page-profile_followees_icon" src="#" width="20" height="20">
                  </a>
                </div>
              </li>
              <li>
                <div class="js-hovercard" data-hovercard-target-name="テスト">
                  <a href="#">
                    <img alt="テスト" class="new-user-page-profile_followees_icon" src="#" width="20" height="20">
                  </a>
                </div>
              </li>
              <li>
                <div class="js-hovercard" data-hovercard-target-name="テスト">
                  <a href="#">
                    <img alt="テスト" class="new-user-page-profile_followees_icon" src="#" width="20" height="20">
                  </a>
                </div>
              </li>
              <li>
                <div class="js-hovercard" data-hovercard-target-name="テスト">
                  <a href="#">
                    <img alt="テスト" class="new-user-page-profile_followees_icon" src="#" width="20" height="20">
                  </a>
                </div>
              </li>
              <li>
                <div class="js-hovercard" data-hovercard-target-name="テスト">
                  <a href="#">
                    <img alt="テスト" class="new-user-page-profile_followees_icon" src="#" width="20" height="20">
                  </a>
                </div>
              </li>
              <li>
                <div class="js-hovercard" data-hovercard-target-name="テスト">
                  <a href="#">
                    <img alt="テスト" class="new-user-page-profile_followees_icon" src="#" width="20" height="20">
                  </a>
                </div>
              </li>
              <li>
                <div class="js-hovercard" data-hovercard-target-name="テスト">
                  <a href="#">
                    <img alt="テスト" class="new-user-page-profile_followees_icon" src="#" width="20" height="20">
                  </a>
                </div>
              </li>
              <li>
                <div class="js-hovercard" data-hovercard-target-name="テスト">
                  <a href="#">
                    <img alt="テスト" class="new-user-page-profile_followees_icon" src="#" width="20" height="20">
                  </a>
                </div>
              </li>
              <li>
                <div class="js-hovercard" data-hovercard-target-name="テスト">
                  <a href="#">
                    <img alt="テスト" class="new-user-page-profile_followees_icon" src="#" width="20" height="20">
                  </a>
                </div>
              </li>
              <li>
                <div class="js-hovercard" data-hovercard-target-name="テスト">
                  <a href="#">
                    <img alt="テスト" class="new-user-page-profile_followees_icon" src="#" width="20" height="20">
                  </a>
                </div>
              </li>
              <li>
                <div class="js-hovercard" data-hovercard-target-name="テスト">
                  <a href="#">
                    <img alt="テスト" class="new-user-page-profile_followees_icon" src="#" width="20" height="20">
                  </a>
                </div>
              </li>
              <li>
                <div class="js-hovercard" data-hovercard-target-name="テスト">
                  <a href="#">
                    <img alt="テスト" class="new-user-page-profile_followees_icon" src="#" width="20" height="20">
                  </a>
                </div>
              </li>
              <li>
                <div class="js-hovercard" data-hovercard-target-name="テスト">
                  <a href="#">
                    <img alt="テスト" class="new-user-page-profile_followees_icon" src="#" width="20" height="20">
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "layouts/footer" %>

