<div class="col-sm-5">
  <div class="js-oauth-signup-form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "landing-login-form active", id: "new_user", autocomplete: "off"} ) do |f| %>
      <%= devise_error_messages! %>
      <%= f.text_field :login, autofocus: true, class: "form-control landing-login-form_identity", placeholder: "ユーザ名 または メールアドレス" %>
      <div class="row clearfix">
        <div class="col-sm-9 landing-login-form_password-column">
          <%= f.password_field :password, autocomplete: "off", placeholder: "パスワード", class: "form-control" %>
        </div>
        <div class="col-sm-3 landing-login-form_submit-column">
          <%= f.submit "ログイン", class: "btn btn-primary btn-block" %>
        </div>
      </div>
      <div class="landing-login-form_forgot-password">
        <a href="#">パスワードを忘れた場合</a>
      </div>
      <div class="help-block js-email-invalid-message" style="display: none"></div>
    <% end %>
    <div class="landing-oauth-signup">
      <%= link_to user_github_omniauth_authorize_path, class: "btn btn-github-inverse btn-block landing-oauth-signup_button" do %>
        <i class="fa fa-github"></i>
        Githubで新規登録/ログイン
      <% end %>
      <%= link_to user_twitter_omniauth_authorize_path, class: "btn btn-twitter-inverse btn-block landing-oauth-signup_button" do %>
        <i class="fa fa-twitter"></i>
        Twitterで新規登録/ログイン
      <% end %>
      <div class="landing-oauth-signup_tweet-annotation">Qiitaが許可無くTwitterに投稿することはありません。</div>
      <div class="landing-oauth-signup_signup-with-email">
        または
        <%= link_to 'メールアドレスで登録', new_user_registration_path, class: 'js-fotm-toggle-link landing-oauth-signup_link'%>
        する
      </div>
    </div>
  </div>
  <div class="landing-header_social-buttons">
    <!-- <div class="facebook">
      <div class="fb-like fb_iframe_widget" data-href="#" data-send="false" data-width="380" data-show-faces="true" fb-xfbml-state="rendered" fb-iframe-pluginquery="#">
        <span style="vartical-align: bottom; width: 380px; height: 20px;">
          <iframe name="#" width="380px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin" src="# style="border: none; visibility: visible; width: 380px; height: 20px;" class>
          </iframe>
        </span>
      </div>
    </div>
    <div class="hatena">
      <iframe class="hatena-bookmark-button-frame" title="このエントリーをはてなブックマークに追加" frameborder="0" scrolling="no" width="50" height="20" src="javascript:false" style="width: 50px; height: 20px;">
      </iframe>
      <script src="https://b.hatena.ne.jp/js/bookmark_button.js" charset="utf-8" async="async"></script>
    </div>
    <div class="twitter">
      <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" title="Twitter Tweet Button" src="#" style="position: static; visibility: visible; width: 75px; height: 20px;" data-url="#">
      </iframe>
      <script src="//platform.twitter.com/widgets.js"></script>
    </div>
    <div class="google">
      <div id="___plusone_0" style="text-indent: 0px; margin: 0px; padding: 0px; background: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vartical-align: baseline; display: inline-block; width: 90px; height: 20px">
        <iframe frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 90px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0" width="100%" id="#" name="#" src="#" data-gapiattached="true" title="+1">
        </iframe>
      </div>
    </div> -->
  </div>
</div>
