<div class="col-sm-5">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "js-signup-form landing-signup-form active", id: "new_user", role: "form", autocomplete: "off"} ) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.text_field :username, autofocus: true, class: "form-control", placeholder: "ユーザ名", maxlength: "16" %>
    </div>
    <div class="form-group">
      <div>
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "メールアドレス" %>
<!--               <div class="help-block" style="display: none"></div> -->
      </div>
<!--             <div class="help-block js-email-invalid-massage" style="display: none;"></div> -->
    </div>
    <div class="form-group has-feedback landing-signup-form_password" id="js-password">
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
      <span id="js-password_verdict" class="form-control-feedback password_verdict">
        <span class="password-verdict"></span>
      </span>
    </div>
    <div class="form-group recaptcha_container">
      <script src="https://www.google.com/recaptcha/api.js" async defer></script>
      <div class="g-recaptcha" data-sitekey="#">
        <div style="width: 304px; height: 78px;">
          <div>
<!--                   <iframe src="#" title="reCAPTCHA ウィジェット" width="304" height="78" role="presentation" frameborder="0" scrolling="no" name="undefined">
              ここは機械じゃないってするapiのいろいろ書いてある。。あと回し
            </iframe> -->
          </div>
          <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; display: none; "></textarea>
        </div>
      </div>
    </div>
    <div class="landing-signup-form_tos">
      <%= link_to '利用規約', '#', target: '_blank' %>
      に同意のうえ、「利用規約に同意して登録」ボタンを押してください。
    </div>
    <div class="form-group">
      <div class="text-right">
        <%= link_to 'キャンセル', new_user_session_path, class: 'btn btn-link js-cancel-link'%>
        <%= f.submit "利用規約に同意して登録", name: "commit", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
  <div class="landing-header_social-buttons">
    <!-- <div class="facebook">
      <div class="fb-like fb_iframe_widget" data-href="#" data-send="false" data-width="380" data-show-faces="true" fb-xfbml-state="rendered" fb-iframe-pluginquery="#">
        <span style="vartical-align: bottom; width: 380px; height: 20px;">
          <iframe name="#" width="380px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin" src="# style="border: none; visibility: visible; width: 380px; height: 20px;" class>
          </iframe>
        </span>
      </div>
    </div>
    <div class="hatena">
      <iframe class="hatena-bookmark-button-frame" title="このエントリーをはてなブックマークに追加" frameborder="0" scrolling="no" width="50" height="20" src="javascript:false" style="width: 50px; height: 20px;">
      </iframe>
      <script src="https://b.hatena.ne.jp/js/bookmark_button.js" charset="utf-8" async="async"></script>
    </div>
    <div class="twitter">
      <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" title="Twitter Tweet Button" src="#" style="position: static; visibility: visible; width: 75px; height: 20px;" data-url="#">
      </iframe>
      <script src="//platform.twitter.com/widgets.js"></script>
    </div>
    <div class="google">
      <div id="___plusone_0" style="text-indent: 0px; margin: 0px; padding: 0px; background: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vartical-align: baseline; display: inline-block; width: 90px; height: 20px">
        <iframe frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 90px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0" width="100%" id="#" name="#" src="#" data-gapiattached="true" title="+1">
        </iframe>
      </div>
    </div> -->
  </div>
</div>
