<div class="landing-header">
  <div class="container clearfix">
    <div class="row clearfix">
      <div class="col-sm-7">
        <%= image_tag("siteid-large.png", class: "landing-header_site-id") %>
        <div class="landing-header__catch-copy">
          <h1 class="landing-header__catch-copy_text">
            Qiitaは、プログラマのための
            <br>
            技術情報共有サービスです。
          </h1>
          <div class="landing-header__catch-copy_more">
            <%= link_to "#" do %>
              もっと詳しく<i class="fa fa-angle-double-right"></i>
            <% end %>
          </div>
        </div>
      </div>
      <%= render "layouts/sign_in_form" %>
    </div>
  </div>
</div>
<%= render "layouts/landing_other_services" %>
<%= render "layouts/footer" %>
